.left{
    width: 80%;
    background: url(../asset/수정캠퍼스\(가로\).png) 0 0 no-repeat;
    background-size: auto 100%;
    text-align: center;
}
.right{
    width: 20%;
    text-align: center;
    margin-left: 20px;
    font-size: 1.5rem;
    overflow-y: scroll;
}

.tab {
    font: 1.2rem "DNFBitBitv2";
    line-height: 0.8;
    display: inline-block;
    margin-left: -35px;
    margin-right: 4rem;
    filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05));
    border-width: 0;
    border-top: 2px solid;
    border-radius: 6px 6px 0 0;
    position: relative;
    background: var(--background);
    white-space: nowrap;
    cursor: pointer;
}

.tab:focus {
    outline: none;
}

.tab:focus span {
    border-bottom: 2px solid;
}

.tab:first-of-type {
    margin-left: 30px;
}

.tab div {
    background: var(--background);
    padding: 6px 0;
    position: relative;
    z-index: 10;
}

.tab span {
    display: inline-block;
    border: 2px solid transparent;
    padding: 6px 15px 6px;
    border-radius: 5px;
    position: relative;
    font-size: 140%;
    color: #fff;
    min-width: 6rem;
    z-index: 5;
}

.tab:before, .tab:after {
    content: "";
    height: 100%;
    position: absolute;
    background: var(--background);
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: -1px;
    border-top: 2px solid;
}

.tab:before {
    right: -16px;
    transform: skew(25deg);
    border-right: 2px solid;
    border-radius: 0 8px 0 0;
}

.tab:after {
    transform: skew(-25deg);
    left: -16px;
    border-left: 2px solid;
    border-radius: 8px 0 0 0;
}

.tab.active {
    z-index: 50;
    position: relative;
}

.tab.active span {
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 2px solid;
    border-radius: 5px;
    color: black;
}

.tab.active:focus span {
    outline: 1px solid rgba(255, 255, 255, 0.7);
}

.tab:not(.active) {
    border-bottom: 2px solid;
}

.tab:not(.active):before, .tab:not(.active):after {
    box-shadow: 0 1.5px 0 black;
}


.content {
    border-radius: 10px;
    position: relative;
    width: 100%;
    top: -2px;
    left: -2px;
}

.content #tab-1 {
    display: none;
}

.content:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: inherit;
}

.content__inner {
    display: none;
    padding: 1rem;
    border-radius: inherit;
    background: var(--background);
    font-family: "bitbit", sans-serif;
    font-size: 1.3rem;
    box-shadow: 0 0 0 1.5px black;
    z-index: 5;
}

.folder {
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
}

.folder ::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    display: none;
}

.page {
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 2px;
    min-height: 15em;
    max-height: 50em;
    line-height: 160%;
    background-color: #f9f9f9;
    display: flex;
    flex: 4 1;
}

.tabs {
    margin: 0 0.5rem;
    overflow-x: auto;
    width: calc(100% - 1rem);
    white-space: nowrap;
}

/*탭 색상*/
.tab:nth-of-type(1), .content__inner:nth-of-type(1) {
    --background: rgba(150, 155, 230, 1);
}

.tab:nth-of-type(2), .content__inner:nth-of-type(2) {
    --background: rgba(104, 161, 200, 1);
}

.tab:nth-of-type(3), .content__inner:nth-of-type(3) {
    --background: rgba(125, 192, 234, 1);
}

.tab:nth-of-type(4), .content__inner:nth-of-type(4) {
    --background: rgba(85, 190, 182, 1);
}