.content__inner{
    --background: rgba(193, 171, 255, 1);
    border-radius: 5px;
}

.page {
    display: flex;
    flex-direction: row;
}

.left{
    width: 80%;
    min-height: 600px;
    background: url(../asset/이미지/운정캠퍼스.png) 0 0 no-repeat;
    background-size: contain;
    background-position: center center;
}

.right{
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    overflow-y: scroll;
}

.right::-webkit-scrollbar{
    display: none;
}